.popup__error {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  user-select: none;
  top: 80%;
  left: 0;
  width: 100%;
  border: none;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  box-sizing: border-box;
  padding: 10px 0 0;
  transition: 0.3s;
}

.popup__error_visible {
  visibility: visible;
  opacity: 1;
  user-select: all;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}