.card__like-section {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center; */
    row-gap: 3px;
    width: 22px;
}